-# -*- coding: utf-8 -*-
- @title = "ユーザー情報"
#logout
  = button_to 'ログアウト', url(:sessions, :destroy), :method => :delete, :confirm => true

#profile_box
  %h2.title
    ="#{current_account.name}さん"
  %dl#profile_info
    %li= "名前: #{@account.name}"
    %li= "Eメール(ログイン文字列): #{@account.email}"

#op_panel
  %ul
    %li= link_to 'パスワード変更', url(:profiles, :edit, :id => @account.id)
    %li= link_to '曲の一覧へ', url(:songs, :index)
